/* Extra extra large */
@media screen and (max-width: 1400px) {

}
/* Extra large */
@media screen and (max-width: 1200px) {
    .header {
        margin-bottom: 50px;
    }
    .hero__image {
        width: 450px;
    }

}
/* Large */
@media screen and (max-width: 992px) {
    .header {
        margin-right: 15px;
        margin-left: 15px;
    }
    .guide {
        padding-left: 15px;
        padding-right: 15px;
    }
    .guide-info {
        margin-left: 50px;
    }
    .people {
        background-image: url(..//images/people-tablet.png);       
    }

}
/* Medium */
@media screen and (max-width: 768px) {
    .header {
        margin-bottom: 0px;
    }
    .navigation-wrapper {
        display: none;
    }
    .nav-wrapper-mobile {
        display: block;
    }
    .hero {
        flex-direction: column-reverse;
        padding-bottom: 120px;
    }
    .hero__title{
        text-align: center;   
    }
    .mobile-stores {
        justify-content: center;
    }
    .guide {
        flex-direction: column;
        padding-top: 0;
    }
    .guide__image {
        max-height: 500px;
        position: relative;
        top: -180px;
        
    }
    .guide-info {
        margin-left: 0;
        position: relative;
        top: -60px;
        
    }
    

}
/* Small */
@media screen and (max-width: 576px) {
    .wrapper {
        padding-bottom: 116px;
    }
    .guide-info {
        margin: 0 10px;
    }
    .hero {
        padding-bottom: 150px;
    }
    .people {
        background-image: url(..//images/people-mobile.png);
    }

}
    
